{
    "env": {
        "browser": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 11,
        "sourceType": "module",
        "project": ["tsconfig.json"]
    },
    "extends": ["standard-with-typescript", "prettier"],
    "plugins": ["@typescript-eslint", "prettier"],
    "settings": {
        "import/extensions": [".js", ".ts", ".hbs"]
    },
    "rules": {
        "prettier/prettier": "error",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "no-unused-expressions": "off",
        "@typescript-eslint/consistent-type-assertions": "off",
        "@typescript-eslint/no-this-alias": "off",
        "no-prototype-builtins": "off"
    }
}
