{
    "env": {
      "browser": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": 11,
      "sourceType": "module",
      "project": ["tsconfig.json"]
    },
    "extends": [
      "standard-with-typescript"
    ],
    "plugins": ["@typescript-eslint", "prettier"],
    "settings": {
      "import/extensions": [".js", ".ts", ".hbs"]
    },
    "rules": {
      "prettier/prettier": "error"
    }
  }
