---
title: 'Вход'
styles:
    - '../index.scss'
    - './authorization.scss'
    - '../../partials/login-form/login-form.scss'
form-elements:
    - name: 'login' 
      type: 'text' 
      placeholder: 'Логин'
    - name: 'password' 
      type: 'text' 
      placeholder: 'Пароль'
---
{{!< page-layout}}
<main class="sign-in">
    <section class="card">
        {{> login-form/login-form login=true }}
    </section>
</main>