---
title: 'Регистрация'
styles:
    - '../index.scss'
    - './authorization.scss'
    - '../../partials/login-form/login-form.scss'
form-elements:
    - name: 'email' 
      type: 'email' 
      placeholder: 'Почта'
    - name: 'login' 
      type: 'text' 
      placeholder: 'Логин'
    - name: 'first_name' 
      type: 'text' 
      placeholder: 'Имя'
    - name: 'second_name' 
      type: 'text' 
      placeholder: 'Фамилия'
    - name: 'phone' 
      type: 'tel' 
      placeholder: 'Телефон'
    - name: 'password' 
      type: 'password' 
      placeholder: 'Пароль'
    - name: 'repeat_password' 
      type: 'password' 
      placeholder: 'Пароль (ещё раз)'
---
{{!< page-layout}}
<main class="sign-in">
    <section class="card">
        {{> login-form/login-form register=true }}
    </section>
</main>