.chat {
    display: flex;

    .chat-list-panel {
        width: 310px;
        height: 100vh;
        border-right: 1px solid var(--light-gray-color);
        border-color: var(--semi-light-gray-color);
        padding: 0;

        .chat-list-panel__header {
            padding: 0 10px 14px;

            .chat-list-panel-nav {
                display: flex;
                justify-content: space-between;
                padding: 20px 0 24px;

                .chat-list-panel-nav__link {
                    font-family: var(--font-noto-sans-display-medium);
                    font-size: 12px;
                    padding-right: 20px;
                    background-repeat: no-repeat;
                    background-position: 60px 5px;
                }
            }

            .chat-list-panel-nav :last-child {
                background-image: url("./images/arrow_right_small.svg");
            }

            .chat-list-panel-search__search-input {
                background-image: url("./images/search_icon.svg");
                background-repeat: no-repeat;
                background-position: 10px center;
                background-color: var(--light-gray-color);
                width: 100%;
                height: 32px;
                border-radius: 5px;
                border: none;
                outline: none;
                padding-left: 32px;
                font-family: var(--font-noto-sans-display-medium);
                font-size: 12px;
                color: var(--gray-color);
            }
        }

        .chat-list {
            max-height: calc(100vh - 108px);
            overflow: auto;
            padding: 14px 10px 0;
            position: relative;

            .chat-list__element {
                padding: 12px 0;
                border-top: 1px solid;
                border-top-color: var(--semi-light-gray-color);
                display: flex;
                cursor: pointer;
                opacity: 0;
                animation: smooth-appearance 0.3s forwards;

                .chat-list__avatar {
                    flex: none;
                    width: 47px;
                    height: 47px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    border-radius: 50%;
                    background-image: url("./images/no_avatar_medium.svg");

                    .chat-list-avatar-img {
                        width: 47px;
                        height: 47px;
                    }
                }

                .chat-list__content {
                    padding: 0 10px;

                    .chat-list__title {
                        font-family: var(--font-noto-sans);
                        font-size: 13px;
                        font-weight: 600;
                    }

                    .chat-list__massage {
                        font-family: var(--font-noto-sans-display-medium);
                        font-size: 12px;
                        color: var(--gray-color);
                    }
                }

                .chat-list__parameters {
                    display: flex;
                    flex: 1;
                    flex-direction: column;

                    .chat-list__date {
                        font-size: 10px;
                        color: var(--gray-color);
                        text-align: right;
                    }

                    .chat-list__counter {
                        margin: auto 0 0;

                        .chat-list__new-message-counter {
                            display: block;
                            float: right;
                            box-sizing: border-box;
                            border-radius: 12px;
                            min-width: 10px;
                            padding: 4px 9px;
                            background: var(--light-green-color);
                            border: none;
                            color: var(--white-color);
                            text-align: center;
                            font-size: 11px;
                        }
                    }
                }
            }

            .chat-list__element:hover {
                padding-bottom: 11px;
                border-bottom: 1px solid;
                border-bottom-color: var(--semi-light-gray-color);
                display: flex;
                cursor: pointer;
            }
        }
    }

    .chat-content {
        flex: 1;
        padding: 0 20px;
        display: flex;
        flex-direction: column;

        .chat-content__header {
            height: 47px;
            border-bottom: 1px solid var(--light-gray-color);
            display: flex;
            padding: 5px 0;

            .chat-avatar {
                min-width: 47px;
                height: 47px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 50%;
                background-image: url("./images/no_avatar_medium.svg");
                margin-right: 10px;
            }

            .chat-title {
                font-family: var(--font-noto-sans);
                font-size: 13px;
                font-weight: 600;
                display: inline-flex;
                align-items: center;
                width: 100%;
            }

            .chat-settings {
                display: inline-flex;
                align-items: center;
                background-image: url("./images/settings.svg");
                width: 46px;
                background-repeat: no-repeat;
                background-position: center center;
                position: relative;

                .reference {
                    display: none;
                }

                .reference ~ .chat-settings__menu {
                    display: none;
                }

                .reference + label {
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                }

                .reference:checked ~ .chat-settings__menu {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    z-index: 10;
                    top: 62px;
                    right: 0;
                    width: 160px;
                    padding: 8px 15px;
                    margin: 0;
                    background-color: var(--white-color);
                    border: 1px solid var(--light-gray-color);
                    border-radius: 12px;
                }

                .chat-settings__menu {
                    padding-top: 15px;

                    .chat-settings-menu__item {
                        list-style: none;
                        padding: 7px 0;
                        -webkit-touch-callout: none;
                        user-select: none;
                    }
                }
            }
        }

        .chat-content__body {
            margin-bottom: auto;

            .chat-item {
                padding: 10px 0;
                position: relative;

                .chat-item-username {
                    margin-bottom: 3px;
                }

                .chat-item-avatar {
                    position: absolute;
                    bottom: 10px;
                    width: 47px;
                    height: 47px;
                    border-radius: 80%;
                    margin-right: 10px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                .chat-item__inner {
                    padding: 10px;
                    display: inline-block;

                    .chat-item__date {
                        font-size: 11px;
                    }

                    .chat-item__date_left {
                        padding: 5px 0;
                        color: var(--gray-color);
                    }

                    .chat-item__date_right {
                        padding: 5px 10px;
                        color: var(--light-green-color);
                        text-align: right;
                    }
                }

                .chat-item__inner_left {
                    background-color: var(--light-gray-color);
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    margin-left: 57px;
                }

                .chat-item__inner_right {
                    display: inline-block;
                    margin-left: auto;
                    position: relative;
                    left: 100%;
                    transform: translateX(-100%);
                    background-color: var(--light-blue-color);
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
            }
        }

        .chat-content__footer {
            height: 54px;
            display: flex;
            position: relative;
            padding-top: 32px;

            .line-input-allert {
                position: absolute;
                top: -16px;
                left: 50px;
                color: var(--red-alert-color);
                font-size: 9px;
            }

            .attach-button {
                width: 38px;
                height: 40px;
                background-image: url("./images/paper_clip.svg");
                background-repeat: no-repeat;
                background-position: center center;
            }

            .message {
                width: 100%;
                height: 34px;
                padding: 3px 15px;
                background-color: var(--light-gray-color);
                border-radius: 30px;
                border: none;
                outline: none;
                font-family: var(--font-noto-sans-display-medium);
                font-size: 13px;
                color: var(--black-color);
            }

            .send-message-button {
                width: 46px;
                height: 40px;
                background-image: url("./images/right_arrow_green.svg");
                background-repeat: no-repeat;
                background-position: center right;
                border: none;
                background-color: var(--white-color);
                cursor: pointer;
            }
        }
    }

    .chat-content__blank {
        position: absolute;
        top: 50%;
        left: 50%;
        color: var(--gray-color);
    }
}

@keyframes smooth-appearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
