---
title: 'Чат'
styles:
- '../index.scss'
- './chat.scss'
---
{{!< page-layout}} 
<div class='chat'>
    <div class='chat-list-panel'>
        <div class='chat-list-panel__header'>
            <nav class='chat-list-panel-nav'>
                <a class='chat-list-panel-nav__link link' href='../profile/profile.hbs'>Профиль<img class='chat-list-panel-nav__image'
                        src='./images/arrow_right_small.svg' /></a>
            </nav>
            <div class='chat-list-panel-search'>
                <input class='chat-list-panel-search__search-input' type='search' placeholder='Поиск' />
            </div>
        </div>
        <div class='chat-list'>
            {{#each chats}}
                {{> chat/chat-list-element}}
            {{/each}}
        </div>
    </div>
    <main class='chat-content'>
        <div class='chat-content__blank'>Выберите чат чтобы отправить сообщение</div>
    </main>
</div>
