---
title: 'Изменить пароль'
styles:
    - '../index.scss'
    - './profile.scss'
---
{{!< page-layout}}
<main class="profile">
    <form>
        <section class="profile__header">
            <div class="profile__image"></div>
        </section>
        <section class="profile__content">
            {{> profile-form/change-password-form }}
        </section>
        <section class="profile__footer">
            <div class="profile__element profile__element_centered">
                {{> button text="Сохранить"}}
            </div>
        </section>
    </form>
</main>
<div class="back-button">
    <a class="back-button__link" href="../chat/chat.hbs"><img src="./images/back_icon.svg" class="button__icon"></a>
</div>
