.profile {
    width: 510px;
    margin: 50px auto;

    .profile__header {
        text-align: center;
        height: 200px;

        .profile__image {
            width: 130px;
            height: 130px;
            background-image: url('./images/no_avatar.svg');
            margin: 0 auto;
        }
        
        .profile__image_change:hover {
            background-image: url('./images/change_avatar.svg');
            cursor: pointer;
        }
        
        .profile__heading {
            font-family: var(--font-noto-sans-display-medium);
            font-size: 20px;
            margin: 0;
            padding-top: 20px;
        }
    }

    .profile__element {
        display: flex;
        justify-content: space-between;
        height: 28px;
        border-bottom: 1px solid;
        border-color: var(--semi-light-gray-color);
        padding-top: 5px;

        .profile-element-title {
            font-family: var(--font-noto-sans-display-medium);
            font-size: 13px;
            display: inline-block;
            align-self: flex-start;
        }
        
        .profile-element-input {
            display: inline-block;
            align-self: flex-start;
            background: transparent;
            border: none;
            outline: none;
            color: var(--gray-color);
            font-family: var(--font-noto-sans-display-medium);
            font-size: 13px;
            text-align: right;
        }

        .profile-element-input::placeholder {
            color: var(--gray-color);
            padding-left: 0px;
        }
        
        .profile-element-input[type=password] {
            font-family: Arial, Helvetica, sans-serif;
            letter-spacing: 0.2em;
        }

        .line-input-allert {
            position: absolute;
            padding-top: 15px;
            color: var(--red-alert-color);
            font-size: 9px;
        }
    }

    .profile__element:last-child {
        border-bottom: none;
    }

    .profile__footer {
        margin-top: 55px;

        .profile__element {
            border-bottom: none;
        }

        .profile__element_centered {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.back-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    border-right: 1px solid;
    border-color: var(--semi-light-gray-color);
    height: 100vh;
}

.back-button__link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 28px;
    height: 28px;
    background-image: url('./images/back_icon.svg');
}
