---
title: 'Профиль'
styles:
    - '../index.scss'
    - './profile.scss'
---
{{!< page-layout}}
<main class="profile">
    <section class="profile__header">
        <div class="profile__image"></div>
        <h1 class="profile__heading">{{profile.display_name}}</h1>
    </section>
    <section class="profile__content">
        {{> profile-form/profile-form disabled=true }}
    </section>
    <section class="profile__footer">
        <div class="profile__element">
            <div class="profile-element-title">{{> link href="./change-profile.hbs" title="Изменить данные" color-class="link_green"}}</div>
        </div>
        <div class="profile__element">
            <div class="profile-element-title">{{> link href="./change-password.hbs" title="Изменить пароль" color-class="link_green"}}</div>
        </div>
        <div class="profile__element">
            <div class="profile-element-title">{{> link href="#!" title="Выйти" color-class="link_red-alert"}}</div>
        </div>
    </section>
</main>
<div class="back-button">
    <a class="back-button__link" href="../chat/chat.hbs"><img src="./images/back_icon.svg" class="button__icon"></a>
</div>
