<form class="login-form">
    <h1 class="login-form__heading">{{title}}</h1>
    <div class="login-form__content">
        {{#each form-elements}}
            {{> form-element}}
        {{/each}}
    </div>
    {{#if login}}
        {{> login-form/login-form-footer-sign-in}}
    {{/if}}
    {{#if register}}
        {{> login-form/login-form-footer-register}}
    {{/if}}
</form>
