---
title: 'Ошибка 500'
styles:
- '../index.scss'
- './error.scss'
---
{{!< page-layout}}
<main class="error-page">
    <section class="error-page__content">
        <h1 class="error-page__heading">500</h1>
        <p class="error-page__paragraph">Что-то пошло не так.</p>
    </section>
    <section class="error-page__footer">
        {{> link href="../chat/chat.hbs" title="Назад к чатам" color-class="link_green"}}
    </section>
</main>
